@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
        100% {
            left: 125%;
        }
    }
    .animate-shine {
        animation: shine 0.8s italic;
    }

    .break-inside-avoid {
        break-inside: avoid;
    }
    
    /* Efek teks outline untuk variasi visual */
    .text-outline {
        -webkit-text-stroke: 1px #2563eb;
        color: transparent;
    }

.required::after {
    content: "*";
    color: red;
    margin-left: 0.25rem;
}

.custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #f1f5f9;
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #e2e8f0;
    }
